# ===============    #
# Folder not shared  #
# ===============    #

/log

# ===================================== #
# auto generated #
# ===================================== #

.DS_Store
.DS_Store?
*.DS_Store